<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" [(ngModel)]="serverName" />
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <p>{{ serverName }}</p> -->
<P>{{ allowNewServer }}</P>
<p>{{ serverCreationStatus }}</p>
<app-server> </app-server>
<p *ngIf="nameCreated">Server is created {{ serverName }}</p>
<app-server *ngFor="let i of servers"></app-server>
<!-- <app-warning></app-warning>
<app-success></app-success> -->

<!-- 
 //Assiginmnet -
<input class="form-control" type="text" [(ngModel)]="userName" />
<p>{{ userName }}</p>
<button
  class="btn btn-primary"
  [disabled]="userName === ''"
  (click)="onEmpty()"
>
  Add
</button> -->

<!-- assignment last of first module -->
<button class="form-control" (click)="onDisplay()">Display Details</button>
<p *ngIf="dis">this will be shown</p>
<!-- <p *ngFor="let i of cLog">{{ cLog }}</p> -->
<div
  *ngFor="let i of cLog"
  [ngStyle]="{ backgroundColor: i >= 5 ? 'blue' : 'white' }"
  [ngClass]="{ log: i >= 5 }"
>
  {{ i }}
</div>
